@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --blue-primary: #3a86ff;
  --blue-secondary: rgba(58, 134, 255, 0.4);
  --blue-secondary-light: rgba(58, 134, 255, 0.2);
  --grey-primary: #f1f0f0;
  --black-primary: #0b090a;
  --green-primary: #80b918;
  --calc-bg-button: #80affb;
  --calc-bg-operator: #235dbb;
  --active: rgba(255, 213, 0, 0.4);
  --error-text: #ef233c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--black-primary);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.4;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
