@import "./base.css";

.error {
  display: none;
  text-align: center;
  color: var(--error-text);
}

.btn__primary-form {
  background-color: var(--blue-primary);
  outline: none;
  border: 0;
  padding: 4px 6px;
  border-radius: 4px;
}
